apiVersion: openliberty.io/v1beta1
kind: OpenLibertyApplication
metadata:
  name: ${Application_Name}
spec:
  replicas: ${Application_Replicas}
  applicationImage: ${Application_Image}
  pullSecret: ${Pull_Secret}
  service:
    type: LoadBalancer
    port: 9080
